# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# SQLite
*.db
*.db-shm
*.db-wal
data/

# Node
node_modules/
frontend/dist/

# Vite
frontend/.vite/

# OS
.DS_Store
Thumbs.db

# Environment / secrets
.env
**/.env

# Editor
.vscode/
.idea/
*.swp

*.tar.gz

# e2e test
test-results
